# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Pytest cache
.pytest_cache/

# IDE
.idea/
.vscode/

# Reports
allure-results/
allure-reports/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Logs
*.log